<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>
    @Html.Partial("_GeneratedViews/fallback-styles.cshtml")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
    </environment>
    <environment exclude="Development">
    </environment>

    @RenderSection("Scripts", required: false)
    @Html.Partial("_GeneratedViews/modern.cshtml")
    @Html.Partial("_GeneratedViews/fallback.cshtml")
</body>
</html>
